AZURE_SUBSCRIPTION_ID=
AZURE_TENANT_ID=
GITHUB_ORG=
GITHUB_REPO=ambu-aks-gitops-poc
GITOPS_REVISION=main
AKS_LOCATION=northeurope
AKS_NAME=aks-ambu-platform-ne
AKS_NODE_VM_SIZE=Standard_EC2as_v5
AKS_NODE_COUNT=1
AZURE_LOCATION=northeurope
PLATFORM_RG=rg-ambu-platform-ne
